@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #16161a;
  --foreground: #fffffe;
  --background-section: #16161a; /* Color para la sección en modo claro */
}

body {
  color: var(--foreground);
  background: var(--background);
}